* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tituloPagina {
    font-size: 12.5vmin;
    padding: 2vmin 3vmin 2vmin;
}

.back {
    font-size: 1rem;
    color: #113F4C; /* Cor da seta para voltar */
    text-decoration: none;
}

.metas-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
}

.meta-card {
    width: 150px;
    height: 150px;
    background-color: #B0BEC5; /* Cor do botão adicionar meta */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-add {
    font-size: 2.5rem;
    color: #FFFFFF; /* Cor do sinal de mais */
}

.meta-card-completed {
    width: 150px;
    height: 150px;
    background-color: #113F4C; /* Cor da meta Emergência */
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px;
}

.meta-label {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.meta-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8CA0A7;
}

.meta-goal {
    font-size: 0.875rem;
    margin: 0;
}

.meta-detail-label {
    font-size: 0.875rem;
    font-weight: bold;
    color: #B0BEC5; /* Cor da etiqueta Emergência */
}

.meta-detail {
    margin: 5vmin;
}

.meta-transaction {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.meta-amount {
    font-size: 1rem;
    font-weight: bold;
    color: #113F4C; /* Cor do valor do débito */
}

.meta-icon {
    width: 24px;
    height: 24px;
}



/*PERFIL*/

.infos {
    margin: 10vmin 0vmin 30vmin;
    padding: 5vmin;
}

.profilePic img {
    width: 128px;
}

.profilePic, .infos h1, h2, h3 {
    margin: 3vmin
}

.profilePic {
    padding: 5vmin 2vmin;
    margin: 10vmin 0vmin;
}

/*CADASTRAR ITEM*/
label {
    font-size: 10vmin;
}

.form-check input, .form-control input {
    border-color: #113F4C;
}

#categoria, #valor {
    border: 2px solid #113F4C; /* 2px de espessura, sólida, cor cinza */
  }

/* #categoria {
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
  #categoria::placeholder {
    color: #aaa;
  } */

.form-check input:checked {
    background-color: #113F4C;
    border-color: #113F4C;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0vmin 0vmin 5vmin;
}

.btn.btn-primary {
    background-color: #113F4C;
    border-radius: 50%;
    border-color: #113F4C;
    padding: 5vmin;
}

.form {
    display: flex;
    flex-direction: column;
}


/*LANÇAMENTOS*/

.lancamento img {
    width: 45px;
}

.align-items-center {
    padding: 1vmin;
    margin: 1vmin
}
.ml-3 {
    margin: 1vmin;
}

.montant {
    font-weight: 500;
    color: #113F4C;
}

.mb-0 {
    font-weight: 500;
}

.list-group {
    margin: 0vmin 2vmin;
}
/*HOMESCREEN*/

.welcome-box {
    background-color: #113F4C;
}

.balance-box {
    margin: 10vmin 2vmin;
    padding: 10vmin 5vmin;
    border:  1px solid #113F4C;;
}

.custom-line {
    border: none;
    height: 1px; 
    background-color: #113F4C; 
    margin: 20px 0; 
}

.transactions-box {
    padding: 2vmin;
}

.balance, .extract {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.balance-link {
    color: #113F4C;
    font-weight: bold;
    text-decoration: none;
}

.balance-link:hover {
    text-decoration: underline;
}

/* Estilo do link na data de transações */
.date-link {
    color: #113F4C;
    font-weight: bold;
    text-decoration: none;
}

.date-link:hover {
    text-decoration: underline;
}

/*LOGIN*/

.btn.btn-primary-2 {
    background-color: #113F4C;
    border-color: #113F4C;
}

.btn.btn-sg, .btn-sg-2 {
    color: white;
    font-weight: 500;
    padding: 3vmin;
}

.btn.btn-lg {
    color: black;
    font-weight: 500;
    padding: 3vmin;
}

.btn-outline-secondary {
    border-radius: 0.5rem;
}

/*CADASTRO*/

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.cadastro-container {
    background-color: #f8f9fa;
}

.cadastro-header .cadastro-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
}

.cadastro-label {
    font-size: 1rem;
    color: #000;
}

.cadastro-btn {
    background-color: #004085;
    border-color: #004085;
    border-radius: 0.5rem;
}

.cadastro-input {
    border-radius: 0.5rem;
    border: 2px solid #113F4C; /* Cor da borda */
}

.cadastro-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(17, 63, 76, 0.25); /* Sombra ao focar no input */
    border-color: #113F4C; /* Mantém a cor da borda ao focar */
}

.cadastro-link {
    font-size: 0.875rem;
    color: #6c757d;
}

.cadastro-link:hover {
    text-decoration: underline;
    color: #495057;
}

/*SOME ADJUSTS*/

.bi-add {
    border-radius: 100%;
    background-color: #113F4C;
    padding: 4vmin;
    margin: 1vmin;
    color: white;
}